.Page {
    text-align: center;
    background-color: #ffffff;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    font-weight: lighter;
  }

.HomeSectionTaskList { 
    height: 100vh;
    width: 96%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #4d4f52;
}

.List {
    width: 68%;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.Resume {
    width: 28%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ListItems {
    overflow-y: scroll;
    height: 87vh;
}

.ListItem {
    width: '15%';
    background-color: '#181c22';
}

.Title {
    letter-spacing: 2px;
}

.IssueDescription {
    width: 100%;
    height: 75%;
}

.ControlButtons {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ControlButton {
    width: 40%;
    height: 100%;
}

::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #ffffff;
}

::-webkit-scrollbar
{
	width: 5px;
	background-color: #ffffff;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #edf1f8;
    opacity: 10%;
}

  
  