.Page {
    text-align: center;
    background-color: #ededed;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
  }

.HomeSection { 
    height: 100vh;
    width: 100%;
    font-weight: lighter;
}

.Section {
    padding-top: 3%;
    height: 45vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #262c37;
    font-size: 30px;
    padding-right: 3%;
}

.DownSection {
    width: 100%;
}

.Daily{
    height: 55vh;
    width: 97.5%;
    margin-left: -1%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    font-size: 14px;
}

.SummarySection {
    height: 90%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.SummaryInfo {
    width: 85%;
    height: 85%;
    border-width: 1px;
    border: solid #bdc0c7;
    color: #c2c1c1;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 5%;
    justify-content: space-around;
    border-width: 0.5px;
    border-radius: 10px;
    transition: 0.7s;
}

.Divider {
    width: 95%;
    height: 70%;
    display: flex;
    flex-direction: row;
}

.Text {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 12px;
}


.Text2 {
    padding-left: 47%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: right;
    font-size: 12px;

}

.SummaryInfo:hover {
    border: solid #5d6066;
    color: #5d6066;
    border-width: 0.5px;
    border-radius: 10px;
}

.YourResume {
    margin-top: -2.5%;
    padding-left: 1%;
    width: 25%;
    height: 140%;
    transition: 0.6s;
}

.YourResume:hover {
    color: #5d6066;
}

.Notifications{
    height: '100%';
    width: '100%';
    transition: 0.7s;
}

.Notifications:hover {
    color: '#5d6066'
}


  
  
  
  